body{
    background-color: #F9F9F9;
}
.div-bgc{
    background-color: #F9F9F9;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #CEBDBD;
    margin-top: 100px;
}
.div-bg{

}
.am-alerts{
    background-color: #F9F9F9;
}